.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
}

.square {
  background: rgb(231, 223, 248);
  border: 2px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  height: 150px;
  width: 150px;
  padding: 20px;
  font-size: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgb(215, 195, 246);

}

.square:hover {
  background-color: rgb(251, 229, 250);
}

@media (min-width: 280px) {
  .square {
    width: 60px;
    height: 60px;
    padding: 0px;
    font-size: 50px;
  }
}

@media (min-width: 800px) {
  .square{
    height: 180px;
    width: 180px;
    padding: 10px;
    font-size: 100px;
  }
}



