.player-two-title, .baby {
  display: flex;
  flex-direction: row;
  color: rgb(238, 193, 234);
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
  font-size: 40px;
  font-weight: 900;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.player-two {
  display: flex;
  flex-direction: column;
}

.baby {
  font-size: 100px;
}

.player-score {
  display: flex;
  flex-direction: row;
  color: rgb(142, 216, 234);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 30px;
  font-weight: 900;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 280px) {
  .player-two-title {
   font-size: 14px;
  }
  .player-score {
    font-size: 15px;
  }
  .baby {
    font-size: 35px;
  }
  .square {
    font-size: 40px;
  }
 }

