.player-two-title, .baby {
  display: flex;
  flex-direction: row;
  color: rgb(238, 193, 234);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 40px;
  align-content: center;
  justify-content: center;
  font-family: fantasy;
}

.player-two {
  display: flex;
  flex-direction: column;
}

.baby {
  font-size: 100px;
}