.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


body {
  background-image: url('../public/ticTacToe.jpeg');
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  margin: 0px;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.winner-message {
  display: flex;
  flex-direction: row;
  color: rgb(142, 234, 211);
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
  font-size: 40px;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}


@media (min-width: 820px) {
  body {
    background-position: left;
  }

  .winner-message {
  padding-top: 20px;
  font-size: 25px;
  }
}

@media (min-width: 375px) {
  body {
    background-position: left;
  }
  .winner-message {
  padding-top: 20px;
  font-size: 25px;
  }
}